.header {
    font-family: 'Dancing Script', cursive;
    

    .logo {
        margin: auto;
        display: block;
    }

    .tagline {
        font-size: 26px;
        font-weight: bold;
    }

    .line {
        height: 24px;
        background-color: #754b23;
    }
}

